/* Colors used in the site 
----------------------------------*/
$mainColor: #4680ff;
$blackColor: #252826; 
$greenColor: #1cdd80;
$redColor: #fb617f;
$bgColor: #f6f7fb;
$whiteColor: #fff;
$gray_1: #e0e4e7;
$gray_2: #a5a5a5;
